<% include ../partials/header %>
	


	<div id = "postForm" style="margin: 100px 100px">

		<h1>Edit Post:</h1>
		
		<form action="/posts/<%=post._id%>?_method=PUT" method="POST">
			<div class="form-group">
		    	<textarea required id = "postText" class = "form-control" rows = 5 name = "post[text]" placeholder="What are you thinking about?"><%=post.text%></textarea>
			</div>
		<button class="btn btn-success btn-block" >
			<i class="icon edit"></i> Add new thought</button>
		</form>

	</div>


<% include ../partials/footer %>